In [ ]:
import pandas as pd

# --- cargar cuaterniones ---
df_q = pd.read_csv(
    "cuaterniones2.csv",
    parse_dates=["Time"],
    dayfirst=True
)

df_q = df_q.rename(columns={
    "inertial-6286.188861:estOrientQuaternion[0-0]": "q0",
    "inertial-6286.188861:estOrientQuaternion[0-1]": "q1",
    "inertial-6286.188861:estOrientQuaternion[0-2]": "q2",
    "inertial-6286.188861:estOrientQuaternion[0-3]": "q3",
})

df_q = df_q[df_q["inertial-6286.188861:estOrientQuaternion:valid"] == 1]


# --- cargar aceleraciones ---
df_a = pd.read_csv(
    "accel2.csv",
    skiprows=1,                 # salta DATA_START
    #parse_dates=["Time"],
    dayfirst=True
)

df_a = df_a.rename(columns={
    "inertial-6286.188861:estLinearAccelX": "ax",
    "inertial-6286.188861:estLinearAccelY": "ay",
    "inertial-6286.188861:estLinearAccelZ": "az",
})

df_a = df_a[
    (df_a["inertial-6286.188861:estLinearAccelX:valid"] == 1) &
    (df_a["inertial-6286.188861:estLinearAccelY:valid"] == 1) &
    (df_a["inertial-6286.188861:estLinearAccelZ:valid"] == 1)
]


# --- MATCH TEMPORAL (INTERSECCIÓN) ---
df = pd.merge(
    df_q,
    df_a,
    on="Time",
    how="inner"
)

df = df.sort_values("Time").reset_index(drop=True)
df

In [39]:
import pandas as pd
import numpy as np

# --- cargar cuaterniones ---
df_q = pd.read_csv(
    "cuaterniones2.csv",
    parse_dates=["Time"],
    dayfirst=True
)

df_q = df_q.rename(columns={
    "inertial-6286.188861:estOrientQuaternion[0-0]": "q0",
    "inertial-6286.188861:estOrientQuaternion[0-1]": "q1",
    "inertial-6286.188861:estOrientQuaternion[0-2]": "q2",
    "inertial-6286.188861:estOrientQuaternion[0-3]": "q3",
})

df_q = df_q[df_q["inertial-6286.188861:estOrientQuaternion:valid"] == 1]

print(df_q)



# cargar aceleraciones
df_a = pd.read_csv("accel2.csv")

# renombrar columnas
df_a = df_a.rename(columns={
    "inertial-6286.188861:estLinearAccelX": "ax",
    "inertial-6286.188861:estLinearAccelY": "ay",
    "inertial-6286.188861:estLinearAccelZ": "az",
})

# quedarnos solo con datos válidos
df_a = df_a[
    (df_a["inertial-6286.188861:estLinearAccelX:valid"] == 1) &
    (df_a["inertial-6286.188861:estLinearAccelY:valid"] == 1) &
    (df_a["inertial-6286.188861:estLinearAccelZ:valid"] == 1)
]

# # asegurar tipo entero
# df_a["Time"] = df_a["Time"].astype(np.int64)

# # ordenar por tiempo (por seguridad)
# df_a = df_a.sort_values("Time").reset_index(drop=True)

# delta tiempo en segundos
df_a["dt"] = df_a["Time"].diff() * 1e-9

df_a["time_comp"] = df_a["Time"]*1e-8

print(df_a["time_comp"])

df_a = df_a.dropna().reset_index(drop=True)

print(df_a)




# df = pd.merge(
#     df_q,
#     df_a,
#     on="Time",
#     how="inner"
# )

# df = df.sort_values("Time").reset_index(drop=True)
# df["dt"] = df["Time"].diff() * 1e-9
# df = df.dropna().reset_index(drop=True)

# df

                     Time        q0        q1        q2        q3  \
0     1770928206472625500  0.996854 -0.000325  0.003732 -0.079170
1     1770928206572426496  0.996840 -0.000332  0.003741 -0.079346
2     1770928206672316928  0.996826 -0.000327  0.003745 -0.079526
3     1770928206772113920  0.996811 -0.000331  0.003744 -0.079706
4     1770928206871719424  0.996796 -0.000324  0.003746 -0.079896
...                   ...       ...       ...       ...       ...
2041  1770928411854271744  0.994473 -0.002520  0.003743  0.104896
2042  1770928411954288128  0.994473 -0.002513  0.003757  0.104896
2043  1770928412054252800  0.994473 -0.002522  0.003757  0.104898
2044  1770928412154213376  0.994472 -0.002531  0.003756  0.104901
2045  1770928412254272768  0.994473 -0.002534  0.003766  0.104893

      inertial-6286.188861:estOrientQuaternion:valid
0                                                  1
1                                                  1
2                                                  1
3                                                  1
4                                                  1
...                                              ...
2041                                               1
2042                                               1
2043                                               1
2044                                               1
2045                                               1

[2046 rows x 6 columns]
0       1.770928e+10
1       1.770928e+10
2       1.770928e+10
3       1.770928e+10
4       1.770928e+10
            ...
1194    1.770928e+10
1195    1.770928e+10
1196    1.770928e+10
1197    1.770928e+10
1198    1.770928e+10
Name: time_comp, Length: 1199, dtype: float64
                     Time        az  \
0     1770928248654106624  0.045130
1     1770928248754093568  0.042389
2     1770928248854158080  0.037553
3     1770928248954145536  0.048151
4     1770928249054106112  0.033935
...                   ...       ...
1193  1770928368054809600  0.043091
1194  1770928368154830336  0.045527
1195  1770928368254783744  0.047804
1196  1770928368354764032  0.034912
1197  1770928368455158272  0.039474

      inertial-6286.188861:estLinearAccelZ:valid        ax  \
0                                              1 -0.000071
1                                              1  0.001167
2                                              1 -0.000152
3                                              1 -0.001657
4                                              1  0.003143
...                                          ...       ...
1193                                           1 -0.010969
1194                                           1 -0.000193
1195                                           1  0.005324
1196                                           1 -0.002997
1197                                           1  0.000100

      inertial-6286.188861:estLinearAccelX:valid        ay  \
0                                              1 -0.001095
1                                              1  0.010090
2                                              1  0.007880
3                                              1  0.002444
4                                              1  0.001047
...                                          ...       ...
1193                                           1  0.013900
1194                                           1  0.016334
1195                                           1  0.007992
1196                                           1  0.006548
1197                                           1  0.002446

      inertial-6286.188861:estLinearAccelY:valid        dt     time_comp
0                                              1  0.099964  1.770928e+10
1                                              1  0.099987  1.770928e+10
2                                              1  0.100065  1.770928e+10
3                                              1  0.099987  1.770928e+10
4                                              1  0.099961  1.770928e+10
...                                          ...       ...           ...
1193                                           1  0.099937  1.770928e+10
1194                                           1  0.100021  1.770928e+10
1195                                           1  0.099953  1.770928e+10
1196                                           1  0.099980  1.770928e+10
1197                                           1  0.100394  1.770928e+10

[1198 rows x 9 columns]

C:\Users\JUANALVA\AppData\Local\Temp\ipykernel_14408\3200391814.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_q = pd.read_csv(

In [45]:
df_a["time_comp"] = df_a["Time"]*1e-8
df_a["time_comp"] = df_a["time_comp"].astype(int)
df_a["time_comp"]

0       17709282486
1       17709282487
2       17709282488
3       17709282489
4       17709282490
           ...
1193    17709283680
1194    17709283681
1195    17709283682
1196    17709283683
1197    17709283684
Name: time_comp, Length: 1198, dtype: int64

In [22]:
df_a["Time"]#.diff() * 1e-9

0       1770928248654106624
1       1770928248754093568
2       1770928248854158080
3       1770928248954145536
4       1770928249054106112
               ...
1193    1770928368054809600
1194    1770928368154830336
1195    1770928368254783744
1196    1770928368354764032
1197    1770928368455158272
Name: Time, Length: 1198, dtype: int64

In [43]:
df_a["Time"] * 1e-9
df_a["Time"] = df_a["Time"].astype(int)
df_a["Time"]

0       1770928248654106624
1       1770928248754093568
2       1770928248854158080
3       1770928248954145536
4       1770928249054106112
               ...
1193    1770928368054809600
1194    1770928368154830336
1195    1770928368254783744
1196    1770928368354764032
1197    1770928368455158272
Name: Time, Length: 1198, dtype: int64

In [27]:
df_a["Time"].diff(1)# * 1e-9

0               NaN
1        99986944.0
2       100064512.0
3        99987456.0
4        99960576.0
           ...
1193     99936768.0
1194    100020736.0
1195     99953408.0
1196     99980288.0
1197    100394240.0
Name: Time, Length: 1198, dtype: float64

In [15]:
df = pd.DataFrame(
    {
        "a": [1, 2, 3, 4, 5, 6],
        "b": [1, 1, 2, 3, 5, 8],
        "c": [1, 4, 9, 16, 25, 36],
    }
)
df

   a  b   c
0  1  1   1
1  2  1   4
2  3  2   9
3  4  3  16
4  5  5  25
5  6  8  36

In [30]:
df.diff(periods=1, axis=0)

     a    b     c
0  NaN  NaN   NaN
1  1.0  0.0   3.0
2  1.0  1.0   5.0
3  1.0  1.0   7.0
4  1.0  2.0   9.0
5  1.0  3.0  11.0