In [ ]:
import pandas as pd

# --- cargar cuaterniones ---
df_q = pd.read_csv(
    "cuaterniones2.csv",
    parse_dates=["Time"],
    dayfirst=True
)

df_q = df_q.rename(columns={
    "inertial-6286.188861:estOrientQuaternion[0-0]": "q0",
    "inertial-6286.188861:estOrientQuaternion[0-1]": "q1",
    "inertial-6286.188861:estOrientQuaternion[0-2]": "q2",
    "inertial-6286.188861:estOrientQuaternion[0-3]": "q3",
})

df_q = df_q[df_q["inertial-6286.188861:estOrientQuaternion:valid"] == 1]


# --- cargar aceleraciones ---
df_a = pd.read_csv(
    "accel2.csv",
    skiprows=1,                 # salta DATA_START
    #parse_dates=["Time"],
    dayfirst=True
)

df_a = df_a.rename(columns={
    "inertial-6286.188861:estLinearAccelX": "ax",
    "inertial-6286.188861:estLinearAccelY": "ay",
    "inertial-6286.188861:estLinearAccelZ": "az",
})

df_a = df_a[
    (df_a["inertial-6286.188861:estLinearAccelX:valid"] == 1) &
    (df_a["inertial-6286.188861:estLinearAccelY:valid"] == 1) &
    (df_a["inertial-6286.188861:estLinearAccelZ:valid"] == 1)
]


# --- MATCH TEMPORAL (INTERSECCIÓN) ---
df = pd.merge(
    df_q,
    df_a,
    on="Time",
    how="inner"
)

df = df.sort_values("Time").reset_index(drop=True)
df

In [39]:
import pandas as pd
import numpy as np

# --- cargar cuaterniones ---
df_q = pd.read_csv(
    "cuaterniones2.csv",
    parse_dates=["Time"],
    dayfirst=True
)

df_q = df_q.rename(columns={
    "inertial-6286.188861:estOrientQuaternion[0-0]": "q0",
    "inertial-6286.188861:estOrientQuaternion[0-1]": "q1",
    "inertial-6286.188861:estOrientQuaternion[0-2]": "q2",
    "inertial-6286.188861:estOrientQuaternion[0-3]": "q3",
})

df_q = df_q[df_q["inertial-6286.188861:estOrientQuaternion:valid"] == 1]

print(df_q)



# cargar aceleraciones
df_a = pd.read_csv("accel2.csv")

# renombrar columnas
df_a = df_a.rename(columns={
    "inertial-6286.188861:estLinearAccelX": "ax",
    "inertial-6286.188861:estLinearAccelY": "ay",
    "inertial-6286.188861:estLinearAccelZ": "az",
})

# quedarnos solo con datos válidos
df_a = df_a[
    (df_a["inertial-6286.188861:estLinearAccelX:valid"] == 1) &
    (df_a["inertial-6286.188861:estLinearAccelY:valid"] == 1) &
    (df_a["inertial-6286.188861:estLinearAccelZ:valid"] == 1)
]

# # asegurar tipo entero
# df_a["Time"] = df_a["Time"].astype(np.int64)

# # ordenar por tiempo (por seguridad)
# df_a = df_a.sort_values("Time").reset_index(drop=True)

# delta tiempo en segundos
df_a["dt"] = df_a["Time"].diff() * 1e-9

df_a["time_comp"] = df_a["Time"]*1e-8

print(df_a["time_comp"])

df_a = df_a.dropna().reset_index(drop=True)

print(df_a)




# df = pd.merge(
#     df_q,
#     df_a,
#     on="Time",
#     how="inner"
# )

# df = df.sort_values("Time").reset_index(drop=True)
# df["dt"] = df["Time"].diff() * 1e-9
# df = df.dropna().reset_index(drop=True)

# df

                     Time        q0        q1        q2        q3  \
0     1770928206472625500  0.996854 -0.000325  0.003732 -0.079170
1     1770928206572426496  0.996840 -0.000332  0.003741 -0.079346
2     1770928206672316928  0.996826 -0.000327  0.003745 -0.079526
3     1770928206772113920  0.996811 -0.000331  0.003744 -0.079706
4     1770928206871719424  0.996796 -0.000324  0.003746 -0.079896
...                   ...       ...       ...       ...       ...
2041  1770928411854271744  0.994473 -0.002520  0.003743  0.104896
2042  1770928411954288128  0.994473 -0.002513  0.003757  0.104896
2043  1770928412054252800  0.994473 -0.002522  0.003757  0.104898
2044  1770928412154213376  0.994472 -0.002531  0.003756  0.104901
2045  1770928412254272768  0.994473 -0.002534  0.003766  0.104893

      inertial-6286.188861:estOrientQuaternion:valid
0                                                  1
1                                                  1
2                                                  1
3                                                  1
4                                                  1
...                                              ...
2041                                               1
2042                                               1
2043                                               1
2044                                               1
2045                                               1

[2046 rows x 6 columns]
0       1.770928e+10
1       1.770928e+10
2       1.770928e+10
3       1.770928e+10
4       1.770928e+10
            ...
1194    1.770928e+10
1195    1.770928e+10
1196    1.770928e+10
1197    1.770928e+10
1198    1.770928e+10
Name: time_comp, Length: 1199, dtype: float64
                     Time        az  \
0     1770928248654106624  0.045130
1     1770928248754093568  0.042389
2     1770928248854158080  0.037553
3     1770928248954145536  0.048151
4     1770928249054106112  0.033935
...                   ...       ...
1193  1770928368054809600  0.043091
1194  1770928368154830336  0.045527
1195  1770928368254783744  0.047804
1196  1770928368354764032  0.034912
1197  1770928368455158272  0.039474

      inertial-6286.188861:estLinearAccelZ:valid        ax  \
0                                              1 -0.000071
1                                              1  0.001167
2                                              1 -0.000152
3                                              1 -0.001657
4                                              1  0.003143
...                                          ...       ...
1193                                           1 -0.010969
1194                                           1 -0.000193
1195                                           1  0.005324
1196                                           1 -0.002997
1197                                           1  0.000100

      inertial-6286.188861:estLinearAccelX:valid        ay  \
0                                              1 -0.001095
1                                              1  0.010090
2                                              1  0.007880
3                                              1  0.002444
4                                              1  0.001047
...                                          ...       ...
1193                                           1  0.013900
1194                                           1  0.016334
1195                                           1  0.007992
1196                                           1  0.006548
1197                                           1  0.002446

      inertial-6286.188861:estLinearAccelY:valid        dt     time_comp
0                                              1  0.099964  1.770928e+10
1                                              1  0.099987  1.770928e+10
2                                              1  0.100065  1.770928e+10
3                                              1  0.099987  1.770928e+10
4                                              1  0.099961  1.770928e+10
...                                          ...       ...           ...
1193                                           1  0.099937  1.770928e+10
1194                                           1  0.100021  1.770928e+10
1195                                           1  0.099953  1.770928e+10
1196                                           1  0.099980  1.770928e+10
1197                                           1  0.100394  1.770928e+10

[1198 rows x 9 columns]

C:\Users\JUANALVA\AppData\Local\Temp\ipykernel_14408\3200391814.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_q = pd.read_csv(

In [68]:
# --- cargar cuaterniones ---
df_q = pd.read_csv("cuaterniones2.csv")

df_q = df_q.rename(columns={
    "inertial-6286.188861:estOrientQuaternion[0-0]": "q0",
    "inertial-6286.188861:estOrientQuaternion[0-1]": "q1",
    "inertial-6286.188861:estOrientQuaternion[0-2]": "q2",
    "inertial-6286.188861:estOrientQuaternion[0-3]": "q3",
    "inertial-6286.188861:estOrientQuaternion:valid": "qValid",
})

# Comprobar si es un valor válido
# df_q = df_q[df_q["inertial-6286.188861:estOrientQuaternion:valid"] == 1]

# df_q["dt"] = df_q["Time"].diff() * 1e-9
# print(df_q)

df_q["time_comp"] = df_q["Time"] * 1e-8
df_q["time_comp"] = df_q["time_comp"].astype(int)
df_q["time_comp"]

df_q

,Time,q0,q1,q2,q3,qValid,time_comp
0,1770928206472625500,0.996854,-0.000325,0.003732,-0.079170,1,17709282064
1,1770928206572426496,0.996840,-0.000332,0.003741,-0.079346,1,17709282065
2,1770928206672316928,0.996826,-0.000327,0.003745,-0.079526,1,17709282066
3,1770928206772113920,0.996811,-0.000331,0.003744,-0.079706,1,17709282067
4,1770928206871719424,0.996796,-0.000324,0.003746,-0.079896,1,17709282068
...,...,...,...,...,...,...,...
2041,1770928411854271744,0.994473,-0.002520,0.003743,0.104896,1,17709284118
2042,1770928411954288128,0.994473,-0.002513,0.003757,0.104896,1,17709284119
2043,1770928412054252800,0.994473,-0.002522,0.003757,0.104898,1,17709284120
2044,1770928412154213376,0.994472,-0.002531,0.003756,0.104901,1,17709284121
2045,1770928412254272768,0.994473,-0.002534,0.003766,0.104893,1,17709284122

In [56]:
df_q["time_comp"] = df_q["Time"] * 1e-8
df_q["time_comp"] = df_q["time_comp"].astype(int)
df_q["time_comp"]

0       17709282064
1       17709282065
2       17709282066
3       17709282067
4       17709282068
           ...
2041    17709284118
2042    17709284119
2043    17709284120
2044    17709284121
2045    17709284122
Name: time_comp, Length: 2046, dtype: int64

In [72]:
# cargar aceleraciones
df_a = pd.read_csv("accel2.csv")

# renombrar columnas
df_a = df_a.rename(columns={
    "inertial-6286.188861:estLinearAccelX": "ax",
    "inertial-6286.188861:estLinearAccelX:valid": "aXvalid",
    "inertial-6286.188861:estLinearAccelY": "ay",
    "inertial-6286.188861:estLinearAccelY:valid": "aYvalid",
    "inertial-6286.188861:estLinearAccelZ": "az",
    "inertial-6286.188861:estLinearAccelZ:valid": "aZvalid",
})

# quedarnos solo con datos válidos
df_a = df_a[
    (df_a["aXvalid"] == 1) &
    (df_a["aYvalid"] == 1) &
    (df_a["aZvalid"] == 1)
]

# df_a.drop(["aZvalid", "aYvalid", "aXvalid"], axis=1)

df_a["time_comp"] = df_a["Time"]*1e-8
df_a["time_comp"] = df_a["time_comp"].astype(int)
df_a["time_comp"] 

df_a

,Time,az,aZvalid,ax,aXvalid,ay,aYvalid,time_comp
0,1770928248554142720,0.037176,1,0.004059,1,0.013056,1,17709282485
1,1770928248654106624,0.045130,1,-0.000071,1,-0.001095,1,17709282486
2,1770928248754093568,0.042389,1,0.001167,1,0.010090,1,17709282487
3,1770928248854158080,0.037553,1,-0.000152,1,0.007880,1,17709282488
4,1770928248954145536,0.048151,1,-0.001657,1,0.002444,1,17709282489
...,...,...,...,...,...,...,...,...
1194,1770928368054809600,0.043091,1,-0.010969,1,0.013900,1,17709283680
1195,1770928368154830336,0.045527,1,-0.000193,1,0.016334,1,17709283681
1196,1770928368254783744,0.047804,1,0.005324,1,0.007992,1,17709283682
1197,1770928368354764032,0.034912,1,-0.002997,1,0.006548,1,17709283683
1198,1770928368455158272,0.039474,1,0.000100,1,0.002446,1,17709283684

In [76]:
df_u = pd.merge(
    df_q,
    df_a,
    on="time_comp",
    how="inner"
)
df_u

,Time_x,q0,q1,q2,q3,qValid,time_comp,Time_y,az,aZvalid,ax,aXvalid,ay,aYvalid
0,1770928248554142720,0.998756,-0.000792,0.003767,0.049709,1,17709282485,1770928248554142720,0.037176,1,0.004059,1,0.013056,1
1,1770928248654106624,0.998755,-0.000798,0.003782,0.049727,1,17709282486,1770928248654106624,0.045130,1,-0.000071,1,-0.001095,1
2,1770928248754093568,0.998755,-0.000808,0.003771,0.049741,1,17709282487,1770928248754093568,0.042389,1,0.001167,1,0.010090,1
3,1770928248854158080,0.998754,-0.000813,0.003785,0.049761,1,17709282488,1770928248854158080,0.037553,1,-0.000152,1,0.007880,1
4,1770928248954145536,0.998753,-0.000800,0.003794,0.049772,1,17709282489,1770928248954145536,0.048151,1,-0.001657,1,0.002444,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,1770928368054809600,0.994503,-0.002292,0.003617,0.104619,1,17709283680,1770928368054809600,0.043091,1,-0.010969,1,0.013900,1
1195,1770928368154830336,0.994503,-0.002289,0.003627,0.104623,1,17709283681,1770928368154830336,0.045527,1,-0.000193,1,0.016334,1
1196,1770928368254783744,0.994502,-0.002294,0.003638,0.104630,1,17709283682,1770928368254783744,0.047804,1,0.005324,1,0.007992,1
1197,1770928368354764032,0.994502,-0.002297,0.003644,0.104632,1,17709283683,1770928368354764032,0.034912,1,-0.002997,1,0.006548,1
1198,1770928368455158272,0.994501,-0.002295,0.003643,0.104638,1,17709283684,1770928368455158272,0.039474,1,0.000100,1,0.002446,1

In [80]:
df_u = df_u.rename(columns={"Time_x": "time"})
df_u

,time,q0,q1,q2,q3,qValid,time_comp,Time_y,az,aZvalid,ax,aXvalid,ay,aYvalid
0,1770928248554142720,0.998756,-0.000792,0.003767,0.049709,1,17709282485,1770928248554142720,0.037176,1,0.004059,1,0.013056,1
1,1770928248654106624,0.998755,-0.000798,0.003782,0.049727,1,17709282486,1770928248654106624,0.045130,1,-0.000071,1,-0.001095,1
2,1770928248754093568,0.998755,-0.000808,0.003771,0.049741,1,17709282487,1770928248754093568,0.042389,1,0.001167,1,0.010090,1
3,1770928248854158080,0.998754,-0.000813,0.003785,0.049761,1,17709282488,1770928248854158080,0.037553,1,-0.000152,1,0.007880,1
4,1770928248954145536,0.998753,-0.000800,0.003794,0.049772,1,17709282489,1770928248954145536,0.048151,1,-0.001657,1,0.002444,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,1770928368054809600,0.994503,-0.002292,0.003617,0.104619,1,17709283680,1770928368054809600,0.043091,1,-0.010969,1,0.013900,1
1195,1770928368154830336,0.994503,-0.002289,0.003627,0.104623,1,17709283681,1770928368154830336,0.045527,1,-0.000193,1,0.016334,1
1196,1770928368254783744,0.994502,-0.002294,0.003638,0.104630,1,17709283682,1770928368254783744,0.047804,1,0.005324,1,0.007992,1
1197,1770928368354764032,0.994502,-0.002297,0.003644,0.104632,1,17709283683,1770928368354764032,0.034912,1,-0.002997,1,0.006548,1
1198,1770928368455158272,0.994501,-0.002295,0.003643,0.104638,1,17709283684,1770928368455158272,0.039474,1,0.000100,1,0.002446,1

In [86]:
# df_u.drop(["Time_y"], axis=1, inplace=True)
df_u

,time,q0,q1,q2,q3,qValid,time_comp,az,aZvalid,ax,aXvalid,ay,aYvalid
0,1770928248554142720,0.998756,-0.000792,0.003767,0.049709,1,17709282485,0.037176,1,0.004059,1,0.013056,1
1,1770928248654106624,0.998755,-0.000798,0.003782,0.049727,1,17709282486,0.045130,1,-0.000071,1,-0.001095,1
2,1770928248754093568,0.998755,-0.000808,0.003771,0.049741,1,17709282487,0.042389,1,0.001167,1,0.010090,1
3,1770928248854158080,0.998754,-0.000813,0.003785,0.049761,1,17709282488,0.037553,1,-0.000152,1,0.007880,1
4,1770928248954145536,0.998753,-0.000800,0.003794,0.049772,1,17709282489,0.048151,1,-0.001657,1,0.002444,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,1770928368054809600,0.994503,-0.002292,0.003617,0.104619,1,17709283680,0.043091,1,-0.010969,1,0.013900,1
1195,1770928368154830336,0.994503,-0.002289,0.003627,0.104623,1,17709283681,0.045527,1,-0.000193,1,0.016334,1
1196,1770928368254783744,0.994502,-0.002294,0.003638,0.104630,1,17709283682,0.047804,1,0.005324,1,0.007992,1
1197,1770928368354764032,0.994502,-0.002297,0.003644,0.104632,1,17709283683,0.034912,1,-0.002997,1,0.006548,1
1198,1770928368455158272,0.994501,-0.002295,0.003643,0.104638,1,17709283684,0.039474,1,0.000100,1,0.002446,1

In [90]:
df_u["dt"] = df_u["time"].diff() * 1e-9
df_u

,time,q0,q1,q2,q3,qValid,time_comp,az,aZvalid,ax,aXvalid,ay,aYvalid,dt
0,1770928248554142720,0.998756,-0.000792,0.003767,0.049709,1,17709282485,0.037176,1,0.004059,1,0.013056,1,NaN
1,1770928248654106624,0.998755,-0.000798,0.003782,0.049727,1,17709282486,0.045130,1,-0.000071,1,-0.001095,1,0.099964
2,1770928248754093568,0.998755,-0.000808,0.003771,0.049741,1,17709282487,0.042389,1,0.001167,1,0.010090,1,0.099987
3,1770928248854158080,0.998754,-0.000813,0.003785,0.049761,1,17709282488,0.037553,1,-0.000152,1,0.007880,1,0.100065
4,1770928248954145536,0.998753,-0.000800,0.003794,0.049772,1,17709282489,0.048151,1,-0.001657,1,0.002444,1,0.099987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,1770928368054809600,0.994503,-0.002292,0.003617,0.104619,1,17709283680,0.043091,1,-0.010969,1,0.013900,1,0.099937
1195,1770928368154830336,0.994503,-0.002289,0.003627,0.104623,1,17709283681,0.045527,1,-0.000193,1,0.016334,1,0.100021
1196,1770928368254783744,0.994502,-0.002294,0.003638,0.104630,1,17709283682,0.047804,1,0.005324,1,0.007992,1,0.099953
1197,1770928368354764032,0.994502,-0.002297,0.003644,0.104632,1,17709283683,0.034912,1,-0.002997,1,0.006548,1,0.099980
1198,1770928368455158272,0.994501,-0.002295,0.003643,0.104638,1,17709283684,0.039474,1,0.000100,1,0.002446,1,0.100394

In [93]:
new_order = ['time', 'q0', 'q1', 'q2', 'q3', 'az', 'ax', 'ay', 'dt']
df_u = df_u[new_order]
df_u

,time,q0,q1,q2,q3,az,ax,ay,dt
0,1770928248554142720,0.998756,-0.000792,0.003767,0.049709,0.037176,0.004059,0.013056,NaN
1,1770928248654106624,0.998755,-0.000798,0.003782,0.049727,0.045130,-0.000071,-0.001095,0.099964
2,1770928248754093568,0.998755,-0.000808,0.003771,0.049741,0.042389,0.001167,0.010090,0.099987
3,1770928248854158080,0.998754,-0.000813,0.003785,0.049761,0.037553,-0.000152,0.007880,0.100065
4,1770928248954145536,0.998753,-0.000800,0.003794,0.049772,0.048151,-0.001657,0.002444,0.099987
...,...,...,...,...,...,...,...,...,...
1194,1770928368054809600,0.994503,-0.002292,0.003617,0.104619,0.043091,-0.010969,0.013900,0.099937
1195,1770928368154830336,0.994503,-0.002289,0.003627,0.104623,0.045527,-0.000193,0.016334,0.100021
1196,1770928368254783744,0.994502,-0.002294,0.003638,0.104630,0.047804,0.005324,0.007992,0.099953
1197,1770928368354764032,0.994502,-0.002297,0.003644,0.104632,0.034912,-0.002997,0.006548,0.099980
1198,1770928368455158272,0.994501,-0.002295,0.003643,0.104638,0.039474,0.000100,0.002446,0.100394

In [105]:
print(len(df))
for k in range(len(df)):
    # print(k)
    # it = df_u.iloc[0].index
    dt = df_u.loc[k, "dt"]
    q  = df_u.loc[k, ["q0","q1","q2","q3"]].values
    a_b = df_u.loc[k, ["ax","ay","az"]].values
    print(dt, q, a_b, "\n")

# print(dt, q, a_b)

8
nan [ 9.98756e-01 -7.92000e-04  3.76700e-03  4.97090e-02] [0.00405907 0.01305601 0.03717614]

0.099963904 [ 9.98755e-01 -7.98000e-04  3.78200e-03  4.97270e-02] [-7.11760949e-05 -1.09505956e-03  4.51298244e-02]

0.09998694400000001 [ 9.98755e-01 -8.08000e-04  3.77100e-03  4.97410e-02] [0.00116668 0.0100897  0.04238898]

0.10006451200000001 [ 9.98754e-01 -8.13000e-04  3.78500e-03  4.97610e-02] [-0.00015158  0.00788035  0.0375528 ]

0.099987456 [ 9.98753e-01 -8.00000e-04  3.79400e-03  4.97720e-02] [-0.00165727  0.00244417  0.04815068]

0.09996057600000001 [ 9.98753e-01 -8.03000e-04  3.80600e-03  4.97800e-02] [0.00314329 0.0010466  0.03393522]

0.10006476800000001 [ 9.98752e-01 -8.03000e-04  3.81700e-03  4.97970e-02] [ 0.00033207 -0.00188552  0.03791577]

0.10003891200000001 [ 9.98751e-01 -8.08000e-04  3.81000e-03  4.98140e-02] [ 0.0003574  -0.00110994  0.03949622]

In [30]:
df.diff(periods=1, axis=0)

     a    b     c
0  NaN  NaN   NaN
1  1.0  0.0   3.0
2  1.0  1.0   5.0
3  1.0  1.0   7.0
4  1.0  2.0   9.0
5  1.0  3.0  11.0